#login_container{
    display: flex;
    justify-content: center;
    margin-top: 150px;
  }
  
#logForm{
    display: grid;
    justify-content: center;
    margin-top: 30px;
    }

#next_butt_log{
  width: 265px;
  height: 30px;
  border-radius: 5px;
  background-color: #0095f6;
  opacity: 0.3;
  color: white;
  border: none;
  font-weight: bolder;
  transition: 0.3s;
  margin-top: 10px;
}

#or_login{
    display: flex;
    justify-content: center;
    color: #8e8e8e;
    font-size: 15px;
    font-weight: 500;
    margin-top: 20px;
    }

#logByFb_log{
    border: none;
    padding: 5px;
    background-color: #FFFF;
    color: #385185;
    width: 265px;
    border-radius: 5px;
    font-weight: bolder;
    margin-top: 10px;
}
#logByFb_log:hover{
    cursor: pointer;
}