*{
  margin: 0px;
  font-family: Arial, sans-serif;
}

.app_pics{
  width: 135px;
}

.app_pics:hover{
  cursor:pointer;
}

#container{
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.mainReg_temp{
  background-color: #FFFF;
  width: 350px;
  border: 1px solid rgba(var(--ca6,219,219,219),1);
  padding: 10px;
  justify-content: center;
}

#header{
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

#insta_img{
  width: 175px;
}

#underHeader{
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 20px 40px 20px 40px; 
  font-size: 17px;
  color: #8e8e8e;
  font-weight: 600;
  font-family: Helvetica, sans-serif;
}

#logByFb_div{
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}
#logByFb{
  background-color: #0095f6;
  border: none;
  padding: 5px;
  color: white;
  width: 265px;
  border-radius: 5px;
  font-weight: bolder;
}

#logByFb:hover{
  cursor:pointer;
}

#or{
  display: flex;
  justify-content: center;
  color: #8e8e8e;
  font-size: 15px;
  font-weight: 500;
}
#textline{
 margin: 0px 15px 0px 15px;
}
.line{
  width: 104.5px; 
  text-align: center; 
  border-bottom: 1px solid #dbdbdb; 
  line-height: 0.1em;
  margin: 10px 0 20px; 
}

#regForm{
  display: grid;
  justify-content: center;
}

.reg_input{
  display: flex;
  padding: 9px 0px 7px 8px;
  width: 250px;
  height: 18px;
  margin: 2.5px;
  background-color: #fafafa;
  border: 1px solid rgba(var(--ca6,219,219,219),1);
  border-radius: 2px;
  font-weight: lighter;
  font-size: 12px;
}

#privacy_area{
  margin-top: 15px;
  display: grid;
  justify-content: center;

}
.privacy_text{
  display: flex;
  text-align: center;
  margin: 5px;
  width: 260px;
  font-size: 12px;
  color: #8e8e8e;
}


#next_butt_div{
  display: flex;
  justify-content: center;
  margin: 10px 0px 30px 0px;
}

#next_butt{
  width: 265px;
  height: 30px;
  border-radius: 5px;
  background-color: #0095f6;
  opacity: 0.3;
  color: white;
  border: none;
  font-weight: bolder;
  transition: 0.3s;
  margin-top: 7.5px;
}

#next_butt:enabled{
  background-color: #0095f6;
  transition: 0.3s;
  opacity: 5;
}

#ifHave{
  margin-top: 10px;
  padding: 20px 10px 20px 10px;
  display: flex;
  justify-content: center;
  font-size: 14px;
}
#navLogin{
  text-decoration: none;
  color: #0095f6;
}
#navLogin:hover{
  cursor: pointer;
}

#fromApp{
  margin-top: 10px;
}
#download_text{
  display: flex;
  justify-content: center;
  padding: 10px;
}

#download_pics{
  display: flex;
  justify-content: center;
}
.app_pics{
  margin: 7.5px;
}

footer{
  margin-top: 70px;
  display: flex;
  justify-content: center;
}
#copyright{
  font-size: 12px;
  color: #8e8e8e;
}




/* Login file css  */

